gunicorn
aiohttp
pillow
tensorflow
opencv-contrib-python
google-cloud-vision
google-api-python-client
numpy
imagehash
matplotlib
scikit-image
scipy
alphabet_detector
intervaltree
shapely
tesserocr
sentry-sdk==0.14.3
aiocontextvars
python-json-logger
